name:
  api: jmp-api
  ui: jmp-ui

replicas:
  api: 1
  ui: 2

port:
  api: 7000
  ws: 7001

fs:
  claimName:
    api: django-jmp

db:
  driver: org.sqlite.JDBC
  url: jdbc:sqlite:/data/data.db

app:
  url: https://jmp.castive.dev
  host: jmp.castive.dev

image:
  repository: core.harbor.castive.dev/jmp
  image:
    api: api
    ui: ui
  tag:
    api: 0.4.11
    ui: 0.4.11
  pullSecret: regcred