namespace: default
name:
  api: jmp-api
  ui: jmp-ui

replicas:
  api: 1
  ui: 2

port:
  ws: 7001

fs:
  claimName:
    api: django-jmp

db:
  driver: org.sqlite.JDBC
  url: jdbc:sqlite:/data/data.db

app:
  url: https://jmp.castive.dev
  host: jmp.castive.dev

image:
  tag:
    api: 0.4.11
    ui: 0.4.11
  pullSecret: regcred